body{
	font-family: 'Manrope', sans-serif;	
	color: #121212;
	font-weight: 400;
}

h1{
	font-size: 60px;
	line-height: 100%;	
	letter-spacing: -1.8px;
}

p{
	font-size: 45px;
	line-height: normal;
	letter-spacing: -1.35px;
}

.nav{
	font-size: 18px;
	letter-spacing: -0.54px;
}

.img_text{
	color: #FFF;
	font-size: 20px;
	letter-spacing: -0.6px;
}